body,
html,
* {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

:root {
  --blue:#2447e2;
  --light-blue: rgb(102, 168, 255);
  --dark-blue: rgb(43, 11, 226);
  --dark-red: #e7273a;
  --light-red: #e97979;
  --crimson: #760404;
}

.blue {
  --primary: var(--blue);
  --secondary: var(--light-blue);
  --hover: var(--dark-blue);
}

.red {
  --primary: var(--dark-red);
  --secondary: var(--light-red);
  --hover: var(--crimson);
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 2vh;
}

.theme {
  padding: 20px;
  background-color: var(--primary);
}

.theme-buttons {
  margin-bottom: 4vh;
  padding: 5px;
}

.theme-buttons input {
  border: solid 2px var(--primary);
  background-color: var(--secondary);
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.theme-buttons:hover {
  background-color: var(--hover);
}

.ribbon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.ribbon input {
  border: solid 2px var(--primary);
  background-color: var(--secondary);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
  font-size: 0.9rem;
}

.ribbon input:hover {
  background-color: var(--hover);
  color: white;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--secondary);
}

.card {
  border: 5px solid var(--primary);
  border-radius: 50px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  flex-basis: 20%;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: var(--hover);
  color: white;
}

.text {
  font-size: 0.73rem;
  margin: 0.75rem;
}

.card-img {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 270px;
  border-radius: 20px;
}

.info {
  font-size: 0.9rem;
  margin: 0.75rem;
}